@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  color: #333333;
}
.logo-wrap {
  text-align: center;
  width: 100%;
  position: relative;
  width: 281px;
  margin: 0 auto;
}
.logo-wrap img {
  position: relative;
  z-index: 10;
}
.slogan-wrap {
  text-align: center;
  font-size: 32px;
  color: #0093b5;
  font-weight: 200;
  position: relative;
}
.slogan-wrap a {
  display: inline-block;
  color: #f26523;
  font-weight: 300;
  position: relative;
  animation: shake .7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation: shake .7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.section p {
  width: 600px;
  font-size: 20px;
  background: #ffffff;
  font-weight: 100;
  margin: 0 50px;
  line-height: 30px;
}
.context-wrap p {
  float: right;
}
.fund-wrap p {
  float: right;
}
